# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://eqrjzjdilpopblctnkms.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Printify
PRINTIFY_API_TOKEN=
PRINTIFY_SHOP_ID=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
